/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
_ide_helper.php
.idea/
public/packages/
/app/config/local/
app/database/production.sqlite
public/bower_components/
public/vendor/
public/node_modules/
public/dist/
public/css/

